@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>This project was developed for COMP367 - DevOps at Centennial College.</p>

<h2>Team Members</h2>
<ul>
    <li>Nathaniel - Developer</li>
    <li>Partner - Developer</li>
</ul>